@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

@mixin MoreInfoButton {
	font-family: 'Raleway', sans-serif;
	background-color: transparent;
	color: rgb(75, 74, 141);
	border-radius: 10px;
	border: 1px solid rgb(75, 74, 141);
	cursor: pointer;
	&:hover {
		background-color: rgb(75, 74, 141);
		color: white;
	}
}

%button-align {
	margin: 15px;
	padding: 5px;
	font-size: 17px;
	width: 100px;
}

%img-container {
	min-height: 200px;
	max-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	flex: 2;
	img {
		max-width: 200px;
		max-height: 300px;
	}
}

%text-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	width: 300px;
	flex: 2;
	font-family: 'New Tegomin', serif;
	text-align: center;
}

.Card {
	flex-basis: 300px;
	max-width: 300px;
	background-color: white;
	z-index: 1;
	@extend %text-content;
	&:hover {
		background-color: rgba(233, 237, 241, 0.87);
		transform: scale(1.05);
		transition: 0.3s;
	}
	div {
		@extend %img-container;
	}
	h2 {
		height: 80px;
		font-size: 15px;
	}
	p {
		// padding: 20px;
		height: 30px;
		font-size: 27px;
	}
	.MoreInfoButton {
		@include MoreInfoButton();
		@extend %button-align;
	}
}
