@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

.Content {
	display: flex;
	margin-top: 50px;
	.Filters {
		display: flex;
		color: white;
		flex-direction: column;
		height: 800px;
		justify-content: flex-start;
		line-height: 70px;
		padding: 20px;
		margin: 12px;
		border-radius: 5px;
		font-family: 'Raleway', sans-serif;
		// flex-basis: 240px;
		background-color: rgba(167, 97, 200, 0.904);
		@media (max-width: 600px) {
			// width: 100px;
			font-size: 12px;
		}
		select {
			display: flex;
			flex-direction: column;
			padding: 7px;
			width: 220px;
			border: 0;
			outline: 1px solid rgb(185, 90, 230);
			border-radius: 5px;
			background-color: rgb(207, 204, 204);
			color: black;
			font-size: 18px;
			font-family: 'Raleway', sans-serif;
			@media (max-width: 600px) {
				width: 100px;
				font-size: 15px;
				padding: 5px;
			}
		}
	}
}
