.Logo {
	position: fixed;
	display: flex;
	justify-content: flex-start;
	left: 5px;
	bottom: 5px;
	top: 5px;
	z-index: 5;
	@media (max-width: 600px) {
		top: 12px;
	}
	img {
		border-radius: 10%;
		width: 100px;
		position: absolute;
		@media (max-width: 600px) {
			width: 80px;
		}
	}
}
