body {
	margin: 0;
	background-color: #e3d26f;
}
.App {
	display: flex;
	flex-wrap: wrap;
	margin: 12px;
	border-radius: 5px;
	justify-content: center;
	flex: 1 1 600px;
}

@media (max-width: 600px) {
	.App {
		margin: 2px;
	}
}
